* {
    margin: 0;
    padding: 0;
}

/* Page elements */

body {
    color: #444;
    font-family: sans-serif;
    border-top: 10px #1098ad solid;
}

.page-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    background-color: #f7f7f7;
    /* padding: 20px; */
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    padding: 20px 40px;
    margin-bottom: 60px;
    /* height: 80px; */
}

/* Navlinks */
nav {
    text-align: center;

}

nav a:link {
    margin-right: 40px;
    margin-top: 10px;
    display: inline-block;
}

nav a:link:last-child {
    margin-right: 0;
}

article {
    margin-bottom: 60px;
}

.post-header {
    margin-bottom: 30px;
}

.post-image {
    /* width: 800px; */
    width: 100%;
    height: auto;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 0;
    width: 500px;
}

/* Smaller elements */

h1,
h2,
h3 {
    color: #1098ad
        /* color for these three is getting overwritten here */
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
    /* color: rgba(236, 153, 236, 0.918); */
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

h4 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul,
ol {
    margin-left: 40px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

/* Psuedo elements :: */

h1::first-letter {
    font-style: normal;
    margin-right: 8px;
}

/* h2::first-letter {
    font-size: 80px;
} */

h3+p::first-line {
    color: red;
}

/* ::after and ::before */

h2 {
    position: relative;
}

h2::after {
    content: "Top";
    color: #444;
    background-color: #ffe70e;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -15px;
    right: -25px;
}


#author {
    font-style: italic;
    font-size: 18px;
}

.author-list {
    list-style: none;
}

.related-authors {
    font-weight: 700;
    font-size: 18px;
}


/* Pseudo classes */
li:first-child {
    font-weight: bold;
}

/* li:nth-child(3) {
    background-color: #1098ad;
} */

/* This wont work since p is not the first child of the article element */
article p:first-child {
    color: red;
}

/* Pusedo classes with hyperlinks (anchor tags <a>) */
a:link {
    color: #1098ad;
    text-decoration: none;
}

a:hover {
    background-color: bisque;
    text-decoration: underline;
    color: orangered
}

footer p {
    font-size: 16px;
}

/* Resolving conflicts bw Selectors */
#copyright {
    color: red;
}

.copyright {
    color: blue;
}

.footer-text {
    color: yellow;
}

footer p {
    color: purple;
}