<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Accordion</title>
</head>

<body>

    <div class="accordion">
        <div class="accordion-item ">
            <p class="number">01</p>
            <p class="heading-text">How long do I have to return my chair?</p>
            <p class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
            </p>
            <div class="hidden">
                <p class="description">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam magnam rerum sed,
                    doloribus quaerat ullam fugiat nulla? Odit, quod! Atque quisquam cumque repellat voluptas ullam
                    numquam
                    iste
                    molestias esse laborum.
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                </ul>
            </div>

        </div>

        <div class="accordion-item ">
            <p class="number">02</p>
            <p class="heading-text">Is the material for the chair ethically sourced?</p>
            <p class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
            </p>
            <div class="hidden">
                <p class="description">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam magnam rerum sed,
                    doloribus quaerat ullam fugiat nulla? Odit, quod! Atque quisquam cumque repellat voluptas ullam
                    numquam
                    iste
                    molestias esse laborum.
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                </ul>
            </div>
        </div>

        <div class="accordion-item ">
            <p class="number">03</p>
            <p class="heading-text">Do you ship outside of India?</p>
            <p class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
            </p>
            <div class="hidden">
                <p class="description">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam magnam rerum sed,
                    doloribus quaerat ullam fugiat nulla? Odit, quod! Atque quisquam cumque repellat voluptas ullam
                    numquam
                    iste
                    molestias esse laborum.
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam deserunt .</li>
                </ul>
            </div>

        </div>
    </div>

    <script src="./script.js"></script>
</body>

</html>